:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	background-color: #242424;
	--defaultTableBg: #f5f5f5;
	--neutralTableBg: #edf8ff;
	--positiveTableBg: #ecf7e7;
	--negTableBg: #fee6e6;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

table {
	border-spacing: 6px;
}

.table-cell {
	background-color: var(--defaultTableBg);
	padding: 5px 20px;
}

.table-cell .percent-span {
	display: inline-block;
	width: 45px;
}

.table-cell.neutral {
	background-color: var(--neutralTableBg);
}

.table-cell.negative {
	background-color: var(--negTableBg);
}

.table-cell.negative .percent-span {
	color: #ff3c3c;
	font-weight: bold;
}

.table-cell.positive {
	background-color: var(--positiveTableBg);
}

.table-cell.positive .percent-span,
.table-cell.default .percent-span {
	color: #07c700;
	font-weight: bold;
}

.table-cell.left {
	text-align: left;
}

.table-cell.right {
	text-align: right;
}

@media (max-width: 450px) {
	.table-cell {
		padding: 2px 5px;
		font-size: 1.2em;
		color: #1a1a1a;
	}
	#root {
		padding: 2rem 5px;
	}
}

@media (min-width: 451px) and (max-widh: 768px) {
	#root {
		padding: 2rem 5px;
	}
}
